@charset "UTF-8";
*{
    font-family: 'Kosugi Maru', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #536976, #292e49);
}
a,a:visited{
    text-decoration: none;
    color: #000000;
}
#pic{
    margin:5vh 0 5vh 0;
    height: 25vh;
}
.ErrorMessage{
    text-align: center;
}
#tytle{
    margin: 5vh 0 5vh 0;
}
#top-button{
    margin-top: 5vh;
    font-size: 5vw;
    padding: 0.5vw;
    border: 1px solid #fff;
    border-radius: 50px;
}
