@charset "UTF-8";
*{
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Kosugi Maru', sans-serif;
}
.wf-nicomoji { font-family: "Nico Moji"; }
body{
    margin: 0;
    padding: 0;
    background-image: url("../pic/SiteBG.jpg");
}
a,a:hover{
    color: #000000;
    text-decoration: none;
}
a#LinkChat{
    background: rgba(19, 174, 103,0.6);
    transition: background-rgba 3s ease 1s;
}
a#LinkChat:hover{
    background: rgba(19, 174, 103,1);
}
/*.f-box{
    display: flex;
    justify-content: flex-end;
}*/
.f-items{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
h1,h2{
    margin: 0;
    font-family: "Nico Moji";
}
#title{
    font-size: 7vw;
    margin-top: 15vw;
    margin-right: 5vw;
}
#phrase{
    font-size: 2vw;
    font-family: 'Kosugi Maru';
    margin: 1vw 5vw 5vw 0;
}
.buttons{
    text-align: right;
    margin-bottom: 20vh;
}
#LinkChat{
    display: inline;
    font-size: 4vw;
    padding: 1vw;
    border-radius: 50px;
    margin-right:15vw;
    transition: rgba 0.3s ease;
}

#explain{
    font-size: 2vw;
    margin: 5vw 5vw 0 0;
}
.chat-items{
    text-align: center;
    margin-top: 10vh;
    transition: .8s;
}
h3{
    font-size: 3.5vw;
    opacity: 0;
    transition: opacity 0s ease .8s;
}
h4:hover{
    opacity: 1;
}
#introduce{
    font-size:2vw;
}
.chat-items p{
    transition-delay: .8s;
}
/*@media screen and (max-width:950px) and (min-width:481px){
    #title{
        font-size: 10vw;
        margin-top: 30vw;
    }
    #phrase{
        font-size: 3vw;
    }
    #LinkChat{
        font-size: 5vw;

    }
}
*/
@media screen and (max-width:950px){
    .f-items{
        display: block;
        text-align: center;
    }
    #title{
        font-size: 15vw;
        margin-top: 30vh;
        margin-right: 0;
    }
    #phrase{
        font-size: 5vw;
        margin:10vh 0 15vh 0;
    }
    #LinkChat{
        display: block;
        text-align: center;
        font-size: 10vw;
        margin: 5vw 15vw 0 15vw;
    }
    #explain{
        text-align: center;
        font-size: 5vw;
    margin: 20vh 0 0 0;
    }
}