* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kosugi Maru';
  }

html, body{
    height: 100%;
    background-color: #13AE67;
}

.mainContainer{
    display: flex;
    height: 100%;
    width: 90%;
    margin: auto;

}

.subContainer{
    flex:1;
    display: flex;
    flex-direction: column;
    height: 95%;
    background-color: white;
    border-radius: 20px;
    align-self: center;
}

.messages{
    flex:1;
    display: flex;
    width: 90%;
    align-items: center;
    flex-direction: column;
    align-self: center;
    /* font-size: 1.7em; */
    justify-content: center;
}

.roomName{
    flex: 1;
    align-self: center;
    font-size: 3.0em;
    margin: 10% 0px 0px 0px;
}

input[type='text'] {
    outline: 0;
    width: 65%;
    height: 20%;
    padding: 6px 10px;
    border: 2px solid rgb(209, 209, 209);
    transition: all 0.3s;
    border-radius: 30px;
}

input[type='text']:focus {
    border: 2px solid rgb(184, 184, 184);
  }

.enterTheName{
    flex: 1;
    width: 90%;
    align-self: center;
}

.submitButton {
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 10pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 9px 11px;   /* 余白       */
    background    : #ffeb27;     /* 背景色     */
    color         : #000000;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
    border        : 2px solid #ffeb27;    /* 枠の指定 */
    text-decoration: none;
    height: 20%;
  }
  .submitButton:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #ffeb27;     /* 背景色     */
    background    : #000000;     /* 文字色     */
  }